.placeSwitchGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.input-style {
  background-color: var(--colorGrayLight);
  width: 51rem;
  min-width:40rem;
  max-height: 6rem;
  color: var(--colorGray);
  border: none;
  border-radius: 1rem;
  padding: 1.8rem 2rem;
}